<h1>
  <%= t('.title') %>
</h1>
<hr>

<p>
  <b><%= t('.intro.desc') %></b>
</p>

<% if current_user %>
  <% if current_user.is_affiliate? %>
    <br>
  <% else %>
    <div class="alert alert-dismissable alert-info">
      <p>
        <i class="fa fa-info-circle"></i>
        <span>
          <%= t('.alert.enable') %>
        </span>
      </p>
    </div>
  <% end %>
<% else %>
  <div class="alert alert-dismissable alert-info">
    <p>
      <i class="fa fa-info-circle"></i>
      <span>
        <%= t('.alert.please') %>
        <%= link_to t('header.signup'), signup_path %>
        <%= t('.alert.or') %>
        <%= link_to t('header.signin'), signin_path %>
        <%= t('.alert.take_part_in') %>
      </span>
    </p>
  </div>
<% end %>

<h3>
  <%= t('.intro.title') %>
</h3>
<p>
  <%= t('.intro.desc') %>
  <%= t('.intro.desc2') %>
</p>

<br>
<h3>
  <%= t('.terms') %>
</h3>
<table class="table table-hover padding_bottom_but">
  <tr>
    <th width="25%"><strong><%= t('.commission') %></strong></th>
    <td>
      <table class="table table-bordered table-hover padding_bottom_but">
        <tr>
          <th width="50%"><strong><%= t('.rule.rule_1.condition') %></strong></th>
          <td><%= t('.rule.rule_1.commission') %></td>
        </tr>
        <tr>
          <th><strong><%= t('.rule.rule_2.condition') %></strong></th>
          <td><%= t('.rule.rule_2.commission') %></td>
        </tr>
        <tr>
          <th><strong><%= t('.rule.rule_3.condition') %></strong></th>
          <td><%= t('.rule.rule_3.commission') %></td>
        </tr>
        <tr>
          <th><strong><%= t('.rule.rule_all.condition') %></strong></th>
          <td><%= t('.rule.rule_all.commission') %></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <th><strong><%= t('.payment.title') %></strong></th>
    <td>
      <%= t('.payment.description1') %>
      <br>
      <%= t('.payment.description2') %>
    </td>
  </tr>
  <tr>
    <th><strong><%= t('.note.title') %></strong></th>
    <td>
      <ul>
        <li><%= t('.note.rule_1') %></li>
        <!--li< %= t('.note.rule_2') %><li-->
        <li><%= t('.note.rule_3') %></li>
      </ul>
    </td>
  </tr>
  <tr>
    <th><strong><%= t('.condition.title') %></strong></th>
    <td>
      <ul>
        <li><%= t('.condition.rule_1') %></li>
        <li><%= t('.condition.rule_2') %></li>
      </ul>
    </td>
  </tr>
</table>

<% if current_user %>
  <table class="table">
    <tr>
      <td width="35%"></td>
      <td width="30%">
        <% if current_user.is_affiliate? %>
          <%= link_to t('.go_to'), affiliates_path, class: "btn btn-default btn-lg btn-block" %>
        <% else %>
          <%= button_to t('.become'), new_affiliate_path, class: "btn btn-default btn-lg btn-block" %>
        <% end %>
      </td>
      <td width="35%"></td>
    </tr>
  </table>
<% end %>

<br>
<h3>
  <%= t('private.affiliates.index.program_flows.title') %>
</h3>
<ol>
  <li><%= t('private.affiliates.index.program_flows.flow1') %></li>
  <li><%= t('private.affiliates.index.program_flows.flow2') %></li>
  <li><%= t('private.affiliates.index.program_flows.flow3') %></li>
</ol>

<br>
<h3>
  <%= t('.how_to.title') %>
</h3>
<ol>
  <li><%= t('.how_to.rule_1') %></li>
  <li><%= t('.how_to.rule_2') %></li>
</ol>

<br>
<hr>